@using ViewModels

@page "/"

<MudAppBar>
  <label>PassManager</label>
  <div style="width:100%">
    <MudButton Style="float:right" OnClick="@OnAddNew">
      <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Secondary" />
    </MudButton>
  </div>
</MudAppBar>

<div Style="padding:10px;height:100%">
  <MudTextField @bind-Value="@SearchString"
                Placeholder="Search"
                Adornment="Adornment.Start"
                Immediate="true"
                AdornmentIcon="@Icons.Material.Filled.Search"
                IconSize="Size.Medium" 
                Class="mt-0 mb-2">
  </MudTextField>
  <MudPaper Style="height:calc(100% - 40px);overflow:auto;display:flex">
    <MudDataGrid Items="ViewModel?.DataSource"
                 T="Models.PasswordCredential"
                 ReadOnly="false"
                 Height="100%" Style="width:100%"
                 FixedHeader
                 Bordered="false"
                 Breakpoint="Breakpoint.Xs"
                 EditMode="DataGridEditMode.Cell"
                 EditTrigger="DataGridEditTrigger.OnRowClick"
                 QuickFilter="@QuickFilter">
      <Columns>
        <PropertyColumn Property="x => x.Title" Title="Title">
          <EditTemplate>
            <MudTextField Placeholder="Title"
                          @bind-Value=context.Item.Title
                          @bind-Value:after="() => OnValueChanged(context.Item)" />
          </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.UserName" Title="Username">
          <EditTemplate>
            <MudTextField Placeholder="Username"
                          @bind-Value=context.Item.UserName
                          @bind-Value:after="() => OnValueChanged(context.Item)" />
          </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Password" Title="Password">
          <EditTemplate>
            <MudTextField Placeholder="Password"
                          @bind-Value=context.Item.Password
                          @bind-Value:after="() => OnValueChanged(context.Item)"
                          InputType="context.Item.IsPasswordVisible? InputType.Text: InputType.Password"
                          Adornment="Adornment.End"
                          AdornmentIcon="@Icons.Material.Filled.Visibility"
                          OnAdornmentClick="() => SetPasswordVisibility(context.Item)" />
          </EditTemplate>
        </PropertyColumn>
        <TemplateColumn StickyRight=true>
          <EditTemplate>
            <MudIconButton Icon="@Icons.Material.Outlined.Delete"
                           Size="@Size.Small"
                           OnClick="() => OnRemove(context.Item)" />
          </EditTemplate>
        </TemplateColumn>
      </Columns>
    </MudDataGrid>
  </MudPaper>
</div>

@code{

  #region Services

  [Inject]
  private IScrollManager ScrollManager { get; set; }
  [Inject]
  private IDialogService DialogService { get; set; }

  #endregion

  [Inject]
  private ICredentialsViewModel ViewModel { get; set; }
  private string? SearchString { get; set; }

  protected override Task OnInitializedAsync()
  {
    return base.OnInitializedAsync();
  }

  private Func<Models.PasswordCredential, bool> QuickFilter => x =>
  {
    if(string.IsNullOrEmpty(SearchString) || string.IsNullOrWhiteSpace(SearchString))
      return true;

    if(x.Title.Contains(SearchString, StringComparison.OrdinalIgnoreCase))
      return true;

    if(x.UserName.Contains(SearchString, StringComparison.OrdinalIgnoreCase))
      return true;

    if(x.ToString().Contains(SearchString, StringComparison.OrdinalIgnoreCase))
      return true;

    return false;
  };

  private void SetPasswordVisibility(Models.PasswordCredential item)
  {
    item.IsPasswordVisible = !item.IsPasswordVisible;
  }

  private async Task OnRemove(Models.PasswordCredential item)
  {
    bool? isDeleted = await DialogService
      .ShowMessageBox("Warning", "Deleting can not be undone!", yesText: "Delete", cancelText: "Cancel");

    if(isDeleted == true)
    {
      ViewModel.Remove(item);
      await ViewModel.Save();
    }
  }

  private async Task OnAddNew()
  {
    ViewModel.Insert();

    await Task.Delay(100);
    await ScrollManager.ScrollToBottomAsync(".mud-table-container", ScrollBehavior.Smooth);
  }

  private async void OnValueChanged(Models.PasswordCredential item)
  {
    await ViewModel.Save();
  }
}